# CSE110 Lab Assignment 4 (List)

This Assignment is to help you develop your concept of Lists in Python.

**<font color='red'>[Please follow variable naming conventions including using meaningful variable names for all the tasks]</font>**\
<font color='red'>When you run your code, please make sure your outputs exactly match the sample outputs for each of the sample inputs given. Check if your code works for other valid inputs not given in the samples.</font>

## Write the code in Python to do the following tasks:







##Write your name, student ID and CSE110 theory section number below:

In [ ]:
#Write your name, student ID and theory section number below:
#Student Name: Jafor Mohammad
#Student ID: 21201112
#CSE110 Theory Section No: 11

### Task 1
Write a Python program that reads 5 numbers from the user into a list. After reading each number, print all the numbers that have been entered so far in the list. 

**Example:**\
If the user enters 3, prints “Numbers in the list: [3]”\
If the user enters 5 next, prints “Numbers in the list: [3, 5]”\
If the user enters 34, prints “Numbers in the list: [3, 5, 34]”\
If the user then enters -11, prints “Numbers in the list: [3, 5, 34, -11]”\
Finally, if the user enters 0 as the last number, prints “Numbers in the list: [3, 5, 34, -11, 0]”

In [ ]:
#todo
mylist = []
for i in range(5):
  var = int(input("Enter a number: "))
  mylist.append(var)
  print('"Numbers in the list: ',mylist,'"',sep="")

Enter a number: 3
"Numbers in the list: [3]"
Enter a number: 5
"Numbers in the list: [3, 5]"
Enter a number: 34
"Numbers in the list: [3, 5, 34]"
Enter a number: -11
"Numbers in the list: [3, 5, 34, -11]"
Enter a number: 0
"Numbers in the list: [3, 5, 34, -11, 0]"

### Task 2

Write a Python program that takes a list as an input from the user, then creates a new list excluding the first and last two elements of the given list and prints the new list. If there are not enough elements in the list to do the task, print "Not possible".

**Note:** You may use list slicing.

===================================================================

**Sample Input 1:**<br/>
[10, 20, 24, 25, 26, 35, 70]<br/>

**Sample Output 1:**<br/>
[24, 25, 26]<br/>

===================================================================

**Sample Input 2:**<br/>
[10, 20, 24, 25, 26]<br/>

**Sample Output 2:**<br/>
[24]<br/>

===================================================================

**Sample Input 3:**<br/>
[10, 20, 24, 25]<br/>

**Sample Output 3:**<br/>
[]<br/>

===================================================================

**Sample Input 4:**<br/>
[10, 20, 24]<br/>

**Sample Output 4:**<br/>
Not possible<br/>

===================================================================

In [ ]:
#todo
mylist = []
var = input("Enter value like list(give space after every comma): ")[1:-1]
var = var.split(', ')
if len(var) <= 3:
  print("Not possible")
else:
  var = var[2:len(mylist)-2]
  for i in range(len(var)):
    dig = int(var[i])
    mylist.append(dig)
  print(mylist)

Enter value like list(give space after every comma): [10, 20, 24]
Not possible

### Task 3

Write a python program that reads 5 numbers from the user into a list, and then prints them in the reverse order.

*Hint: You may create a list to store the input numbers and then use loop to print them in reverse order*

===================================================================

**Sample Input:**\
5\
-5\
100\
1\
0

**Sample Output:**\
Input data: [5, -5, 100, 1, 0]\
Printing values from the list in reverse order:\
0\
1\
100\
-5\
5

===================================================================

In [ ]:
#todo
mylist = []
for i in range(5):
  var = int(input("Enter a number: "))
  mylist.append(var)
count = len(mylist)-1
while count >= 0:
  print(mylist[count])
  count -= 1

Enter a number: 5
Enter a number: -5
Enter a number: 100
Enter a number: 1
Enter a number: 0
0
1
100
-5
5

### Task 4

Write a Python program that turns every item of a list into its square. [Your program should work for any lists; make changes to the lists below and check whether your program works correctly]

===================================================================

**Given list 1:**\
[1, 2, 3, 4, 5, 6, 7]

**Sample Output 1:**\
[1, 4, 9, 16, 25, 36, 49]

===================================================================

**Given list 2:**\
[3, 5, 1, 6]

**Sample Output 2:**\
[9, 25, 1, 36]


===================================================================

In [1]:
#todo
emptyList = []
var = input("Enter value like list(give space after every comma): ")[1:-1]
var = var.split(', ')
for i in range(len(var)):
  #var[i] = int(var[i])
  #sqr = var[i] ** 2
  #emptyList.append(sqr)
  emptyList.append((int(var[i]))**2)
print(emptyList)

Enter value like list(give space after every comma): [3, 5, 1, 6]
[9, 25, 1, 36]

### Task 5


Write a Python program that removes all Empty strings from a **given list** and prints the modified list. [Your program should work for any given list; make changes to the list below and check whether your program works correctly]

=========================================================================

**Given List:**

["hey", "there", "", "what's", "", "up", "", "?"]

**Sample Output:**

Original List:
['hey', 'there', '', "what's", '', 'up', '', '?']

Modified List:
['hey', 'there', "what's", 'up', '?']

==========================================================================

In [ ]:
#todo
emptyList = []
givenList = ["hey", "there", "", "what's", "", "up", "", "?"]
print("Original last:",givenList)
for i in givenList:
  if i == "":
    continue
  else:
    emptyList.append(i)
print("Modified List: ",emptyList)

Original last: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List:  ['hey', 'there', "what's", 'up', '?']

### Task 6

Write a Python program that reads a string containing 7 numbers separated by commas, then makes a list of those numbers and prints the **largest number** and its location or index position in the list. <font color='red'>[You are not allowed to use the max(), sort(), sorted() function here]</font>

[Your program should work for any given list; make changes to the list below and check whether your program works correctly]

**Hint:** You may assume the first input to be the largest value initially and the largest value’s location to be 0.

**Note:** You may need to be careful while printing the output. Depending on your code, you might need data conversion.

===================================================================

**Sample Input:**\
 "7, 13, 2, 10, 6, -11, 0"

**Sample Output:**\
My list: [7, 13, 2, 10, 6, -11, 0]\
Largest number in the list is 13 which was found at index 1.

===================================================================

In [4]:
#todo
var = input("Enter value like list(give space after every comma): ")[1:-1].split(", ")
#var = var.split(', ')
max = int(var[0])
j = 0
for i in range(len(var)):
  temp = int(var[i])
  if temp > max:
    max = temp
    j = i
print("Largest number in the list is",max,"which was found at index",j)

Enter value like list(give space after every comma): "7, 13, 2, 10, 6, -11, 0"
Largest number in the list is 13 which was found at index 1

## Task 7

Suppose you have been given two lists. Write a Python program that replaces the last element of the first list with the second list. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]


===================================================================

**Sample given lists 1:**\
List_one : [1, 4, 7, 5]\
List_two : [6, 1, 3, 9]

**Sample Output 1:**\
[1, 4, 7, 6, 1, 3, 9]

===================================================================

**Sample given lists 2:**\
List_one : [1, 3, 5, 7, 9, 10]\
List_two : [2, 4, 6, 8]

**Sample Output 2:**\
[1, 3, 5, 7, 9, 2, 4, 6, 8]

===================================================================

In [ ]:
#todo
list_one =  [1, 3, 5]
list_two = [2, 4, 6, 8]
modified_list = list_one[ :len(list_one)-1]
modified_list.extend(list_two)
print(modified_list)

[1, 3, 2, 4, 6, 8]

### Task 8
Assume, you have been given two lists. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]\
list_two = [10, 11, 12, -13, -14, -15, -16]

Write a Python program that creates a new list with all the **even elements** of both of the given lists and prints the new list.

**Hint:** You may create a third list to store the even elements of the given lists.

===================================================================

**Output for the above lists:** [2, 4, 6, 8, 10, 12, -14, -16]

===================================================================

In [ ]:
#todo
newList = []
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
list_one.extend(list_two)
for i in list_one:
  if i % 2 == 0:
    newList.append(i)
print(newList)

[2, 4, 6, 8, 10, 12, -14, -16]

### Task 9

Write a Python program that reads a string as an input from the user where multiple numbers are separated by spaces. Then, make a list of numbers from the input string without using the split() function and print the list. Finally, remove all the occurences of **even numbers** from the same input list and print the modified list.


=========================================================================

**Sample Input:**

7 12 4 55 96 2 11 61 33 42

**Sample Output:**

Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]\
Modified list: [7, 55, 11, 61, 33]

=========================================================================

In [2]:
#todo
originalList = []
modifiedList = []
var = input("Enter numbers: ")
j = ""
for i in var:
  if i in "0123456789":
    j += i
  elif i == " ":
    #s = int(j)
    originalList.append(int(j))
    j = ""
#lastValue = int(j)
originalList.append(int(j))
print("Original List:",originalList)
for i in originalList:
  if i%2 != 0:
    modifiedList.append(i)
print("Modified List:",modifiedList)

Enter numbers: 7 12 4 55 96 2 11 61 33 42
Original List: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified List: [7, 55, 11, 61, 33]

### Task 10
Write a Python program that reads a string as an input from the user where multiple numbers are separated by commas. Then, make a list of numbers from the input string and print the list. Finally, remove multiple occurences of any numbers from the input list and print the modified list **without duplicate values**.

*Hint: You may create a third list to store the results but you may try doing it in the same input list. You can use membership operators (in, not in) to make sure no duplicates are added.*

===================================================================

**Sample Input 1:**<br/>
0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4<br/>


**Sample Output 1:**<br/>
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]\
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

===================================================================

**Sample Input 2:**<br/>
7, 7, 7, 1, 0, 3, 3, 55, 9<br/>


**Sample Output 2:**<br/>
Input list: [7, 7, 7, 1, 0, 3, 3, 55, 9]\
Modified list: [7, 1, 0, 3, 55, 9]

===================================================================

In [ ]:
#todo
inputList = []
modifiedList = []
var = input("Enter number separated by comma:")
var = var.split(",")
for i in var:
  inputList.append(int(i))
print("Input list:",inputList)
for i in range(len(inputList)):
  if inputList[i] in modifiedList:
    continue
  else:
    modifiedList.append(inputList[i])
print("modified List:",modifiedList)

Enter number separated by comma:111,6513,48552,111,6655,333,5564,24,24,65,33,48,65,24
Input list: [111, 6513, 48552, 111, 6655, 333, 5564, 24, 24, 65, 33, 48, 65, 24]
modified List: [111, 6513, 48552, 6655, 333, 5564, 24, 65, 33, 48]

### Task 11
Assume, you have been given two lists: List_one and List_two. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

Write a Python program that prints "True", if the given two lists have at least one common member. Otherwise, print "False". 

Note: Please use concepts of flag and break to solve this task.

===================================================================

**Given lists 1:**\
List_one : [1, 4, 3, 2, 6]\
List_two : [5, 6, 9, 8, 7]

**Sample Output 1:**\
True

===================================================================

**Given lists 2:**\
List_one : [1, 4, 3, 2, 5]\
List_two : [8, 7, 6, 9]

**Sample Output 2:**\
False

===================================================================

In [ ]:
#todo
List_one = [1, 4, 3, 2, 6]
List_two = [5, 6, 9, 8, 7]
active = False
for i in range(len(List_one)):
    for j in range(len(List_two)):
      if List_one[i] == List_two[j]:
        active = True
        break
print(active)

True

## Optional Tasks (12-17) [Ungraded]

### Task 12


Write a Python program that reads 7 numbers into a list and prints the **second largest number** and its location or index position on the list. <font color='red'>[You are not allowed to use the max(), sort(), sorted() function here]</font>

===================================================================

**Sample Input:**\
 7, 13, 2, 10, 6, -11, 0

**Sample Output:**\
My list: [7, 13, 2, 10, 6, -11, 0]\
Second largest number in the list is 10 which was found at index 3.

===================================================================

In [ ]:
#todo
var = input("Enter value like list(give space after every comma): ")
var = var.split(', ')
max = int(var[0])
for i in range(len(var)):
  temp = int(var[i])
  if temp > max:
    max = temp
    j = i
var.remove(var[j])
secMax = int(var[0])
for i in range(len(var)):
  temp = int(var[i])
  if temp > secMax:
    secMax = temp
    s = i
print("Second largest number in the list is",secMax,"which was found at index",s)

Enter value like list(give space after every comma): 7, 13, 2, 10, 6, -11, 0
Second largest number in the list is 10 which was found at index 2

### Task 13

Write a Python program that reads 5 numbers into a list and prints the smallest and largest number and their locations in the list. <font color='red'>[You are not allowed to use the max(), min(), sort(), sorted() functions here]</font>

**Hint:** You may assume the first input to be the largest value initially and the largest value’s location to be 0. Similarly, you can assume the first input to be the smallest value initially and the smallest value’s location to be 0. 

**Note:** You may need to be careful while printing the output. Depending on your code, you might need data conversion.

===================================================================

**Sample Input:**\
7, 13, -5, 10, 6

**Sample Output:**\
My list: [7, 13, -5, 10, 6]\
Smallest number in the list is -5 which was found at index 2\
Largest number in the list is 13 which was found at index 1

===================================================================

In [ ]:
#todo
var = input("Enter value like list(give space after every comma): ")
var = var.split(', ')
max = int(var[0])
min = int(var[0])
j = 0
s = 0
for i in range(len(var)):
  temp = int(var[i])
  if temp > max:
    max = temp
    j = i
for i in range(len(var)):
  temp = int(var[i])
  if temp < min:
    min = temp
    s = i
print("Smallest number in the list is",min,"which was found at index",s)
print("Smallest number in the list is",max,"which was found at index",j)

Enter value like list(give space after every comma): 7, 13, -5, 10, 6
Smallest number in the list is -5 which was found at index 2
Smallest number in the list is 13 which was found at index 1

### Task 14
Write a Python program that takes two lists as an input from the user. Then print a new list with the **common elements** of both the input lists. 

*Hint: You may need to create a third list to store the results. You can use membership operators (in, not in) to make sure similar elements are added.*

===================================================================

**Sample Input 1:**<br/>
A, B, C, D


C, E, F, B


**Sample Output 1:**<br/>
['C', 'B']

===================================================================

**Sample Input 2:**<br/>
1, 3, A, H, P


A, G, 1, P, O


**Sample Output 2:**<br/>
['1', 'A', 'P']

===================================================================

In [ ]:
# todo
storeList =[]
list1 = input("Enter character separated by commas:")
list1 = list1.split(',')
list2 = input("Enter character separated by commas:")
list2 = list2.split(',')
for i in range(len(list1)):
  for j in range(len(list2)):
    if list1[i] == list2[j]:
      if list1[i] not in storeList: 
        storeList.append(list1[i])
print(storeList)

Enter character separated by commas:A,B,d,A,w
Enter character separated by commas:A,B,C,D
['A', 'B']

### Task 15

Assume, you have been given two lists. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]

list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]\
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

Write a Python program that creates a new list with all the **unique elements** of both the given lists. 
<font color='red'> **You need to make sure that there are no duplicates in the resulting list.**</font> Finally, print the updated list.

**Hint:** You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.

===================================================================

**Output for the above two lists**: 
[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

===================================================================

In [ ]:
# todo
list1 = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]
list2 = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
modifiedList = []
for i in list1:
  if i not in modifiedList:
    modifiedList.append(i)
for i in list2:
  if i not in modifiedList:
    modifiedList.append(i)
print("Output for the above two list:",modifiedList)

Output for the above two list: [1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

### Task 16

Write a python program to take a list as a string input from the user and print it back to the user as a list. Please look at the examples below for clarification. 

**<font color='red'>[Must use string split() and strip() functions]</font>**

================================================================

**Sample Input 1:**\
'1, &nbsp; &nbsp;&nbsp; &nbsp; 2  ,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4'

**Sample Output 1:**\
Original data: 1, &nbsp; &nbsp;&nbsp; &nbsp; 2  ,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4\
After removing square brackets: 1, &nbsp; &nbsp;&nbsp; &nbsp; 2  ,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4\
Numbers in string format with extra white spaces: ['1', '&nbsp; &nbsp;&nbsp; &nbsp; 2'  ,'&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3', '50', '4']\
Final data (numbers in list format): [1, 2, 3, 50, 4]
                
                
================================================================
                
  
**Sample Input 2:**
'[1,&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4]'

**Sample Output 2:**\
Original data: [1,&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4]\
After removing square brackets: 1,&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4\
Numbers in string format with extra white spaces: ['1', '&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;', '&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3', '50', '4']\
Final data (numbers in list format): [1, 2, 3, 50, 4]
                
                
================================================================

                
  
**Sample Input 3:**\
"&nbsp; &nbsp;&nbsp; &nbsp;[1,&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3,&nbsp; &nbsp;50,&nbsp; &nbsp;4]&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;"

**Sample Output 3:**\
Original data: &nbsp; &nbsp;&nbsp; &nbsp;[1,&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3,&nbsp; &nbsp;50,&nbsp; &nbsp;4]&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;\
After removing square brackets: 1,&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3,&nbsp; &nbsp;50,&nbsp; &nbsp;4\
Numbers in string format with extra white spaces: [' 1', '&nbsp; &nbsp;2&nbsp; &nbsp;', '&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3', '&nbsp; &nbsp;50', '&nbsp; &nbsp;4']\
Final data (numbers in list format): [1, 2, 3, 50, 4]

                
================================================================

In [ ]:
#todo
var = input("Enter string:")
mainList = []
var1 = var.strip()
print("Original data:",var)
if '[' in var1:
  var2 = var1[1:-1]
  print("After removing square bracket:",var2)
  var2 = var2.split(',')
  print("Numbers in string format with extra white spaces:",var2)
  for i in range(len(var2)):
    var2[i] = int(var2[i])
  print("Final data(numbers in list format):",var2)

else:
  print("After removing square bracket:",var1)
  var2 = var1.split(',')
  print("Numbers in string format with extra white spaces:",var2)
  for i in range(len(var2)):
    var2[i] = int(var2[i])
  print("Final data(numbers in list format):",var2)

Enter string:      [1,   2   ,         3,   50,   4]
Original data:       [1,   2   ,         3,   50,   4]
After removing square bracket: 1,   2   ,         3,   50,   4
Numbers in string format with extra white spaces: ['1', '   2   ', '         3', '   50', '   4']
Final data(numbers in list format): [1, 2, 3, 50, 4]


### Task 17
Write a Python program that takes a single string as an input from the user where few numbers are separated by commas. Now, make a list with the numbers of the given string.Then your task is to remove multiple occurences of any number and then finally print the list **without any duplicate values**.

*Hint (1): For obtaining the numbers from the string, use split(). For cleaning the data, use strip().*

*Hint (2): You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.*

===================================================================

**Sample Input 1:**<br/>
0, 0, 1, 2, 3, 4,&nbsp;&nbsp; &nbsp;&nbsp; 4, 5, 6, 6, 6,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7, 8, 9, 4,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4<br/>


**Sample Output 1:**<br/>
Given numbers in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]\
List without any dupliacte values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]<br/>

===================================================================

**Sample Input 2:**<br/>
7, 7, 7, 1, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0, 3, 3, &nbsp;&nbsp;55, 9<br/>


**Sample Output 2:**<br/>
Given numbers in list: [7, 7, 7, 1, 0, 3, 3, 55, 9]\
List without any dupliacte values: [7, 1, 0, 3, 55, 9]<br/>

===================================================================

In [ ]:
#todo
emptyList1= []
emptyList2 = []
var = input("Enter a  list:")
var = var.split(',')
for i in range(len(var)):
  var[i] = int(var[i])
  emptyList1.append(var[i])
print("Given numbers in the list:",emptyList1)
for i in emptyList1:
  if i not in emptyList2:
    emptyList2.append(i)
print("List without any duplicate values:",emptyList2)

Enter a  list:7, 7, 7, 1,           0, 3, 3,   55, 9
Given numbers in the list: [7, 7, 7, 1, 0, 3, 3, 55, 9]
List without any duplicate values: [7, 1, 0, 3, 55, 9]